//create your reset styles

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    font-weight: normal;
    @media (max-width: 1110px){
        padding-top: 70px;
    }
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}